
      .left-links a.links{
        font-weight:450;font-size:16px;line-height:22.5px;vertical-align:baseline;color: rgb(40, 39, 39);
      }
      .column p{
        text-align: center;font-weight: 800px;font-size: 17px;
      }
            nav{
   display: flex;
   
   top:0;
   width: 100%;
   
}
.right-links a.links{
  font-weight:450;font-size:16px;line-height:22.5px;vertical-align:baseline;margin:0px 32px 0px 0px;padding:7.5px 0px;color: rgb(40, 39, 39)
}

ul {
  list-style-type: none;
  margin: 50;
  padding: 50;
  
}
.left-links a {
  
}
h5{
  font-weight: 50;
}
.image {
 

background-color: #F2F3F5;
}
li {
  float: left;
}
p.ex1{
    margin-left: 950px;
    font-size: 10px;
    font-weight: 50;
}
.legal-link{
    border-left: 0.1px solid green;
  height: -10px;
}
.row1{
  background-color: #F2F3F5 ;
  margin-top: 25px;
  padding-right: 5px;
}

li a {
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.column1 {
  float: left;
  width: 19.33%;
  background-color: #F2F3F5 ;
  height: 400px;
 
font-weight:normal;
font-size:18px;
vertical-align:baseline;
color: rgb(40, 39, 39);
padding-right: 4px;


}
a {
  text-decoration: none;
}
/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
  
}
 p{
font-weight: 800;
    text-align: center;}
    p1{
font-weight: 800;
    text-align: left;}

    p2{
font-weight: 800;
margin-left:700px ;
    text-align: right;
}
.container {
  position: relative;
  width: 50%;
}
.container .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #202cd6;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 1 1;
  padding: 5px;


  
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.links {
   display: inline-block;
   text-align: center;
   padding: 20px;
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-size: 17px;
   font-weight: bolder;
}
.left-links{
   flex:1 1 ;
}

.iconfont icon-usero IDDC{
    margin-right: 40px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Open Sans, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}